header{
  background-image: url(../img/portland.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
  /*background-position: 0 60%;*/
  padding-top:15%;
  padding-bottom: 15%
}
.btn, input, div{
  border-radius: 0px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map{
  height: 100%;
}